<div class="feature-box">
  <h3>Lists</h3>
  <% @lists.in_groups_of(4, false) do |list_group| %>
    <div class="row">
      <% list_group.each do |list| %>
        <% @list = list %>
        <div class="col-md-3">
          <h4><%= link_to list.title, list_path(list.title) %></h4>
          <p><%= list.body %></p>
          <% unless list.restaurants.empty? %>
            <%= render partial: 'layouts/restaurant_list' %>
          <% else %>
            <%= render partial: 'layouts/review_list' %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
