<div class="home">
  <div>
    <h1>Chicago Lunch Box</h1>
  </div>
  <div>
    <% @categories.each do |category| %>
      <%= link_to category.set, category_path(category.set) %>
    <% end %>
  </div>
</div>
