
<div class="view-section welcome-background">
  <div class="container-fluid">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="jumbotron welcome-msg">
        <h1>Tubb's Food Reviews</h1>
        <a href="#about">about</a>
        <a href="#"></a>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="feature-box">
        <h3><%= link_to "Featured", restaurants_path %></h3>
        <p>best eateries in the Chicago area</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="feature-box">
        <h3><%= link_to "Lists", lists_path %></h3>
        <p>compiled lists of our favorite dishes</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="feature-box">
        <h3><%= link_to "Tips & Hacks", blogs_path %></h3>
        <p>secrets to finding best places to eat</p>
      </div>
    </div>
  </div>
  </div>
</div>
<div class="view-section">
  <a id="about"></a>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8 jumbotron">
        This site is dedicated to all the delicious places I have visited while driving around the city of Chicago, and to share my dining experiences with you.
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
</div>
<div class="view-section">
  <a id=""></a>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4"></div>
  </div>
</div>

