<div class="feature-box">

  <div class=""style='width: 500px;'>
    <div id="map" style='width: 500px; height: 350px;'></div>
  </div>

<% @restaurants.each do |place| %>
  <%= link_to place.name, restaurant_path(place.name) %>
<%end%>

<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(11)
  });
</script>


</div>
