<div class="feature-box">
  <h2>Create a new Restaurant:</h2>

  <%= form_for @restaurant, url: admin_restaurants_path, html: {class: "nifty_form"} do |f| %>
    <%= f.text_field :name %>
    <%= f.text_area :body, size: "60x12" %>
    <%= f.submit "Create" %>
  <% end %>

  <div class=""style='width: 500px;'>
    <div id="map" style='width: 500px; height: 350px;'></div>
  </div>

  <script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers([
        {
          "lat": 41.879275201550634,
          "lng": -87.66173601150513,
          "picture": {
            "url": "http://people.mozilla.com/~faaborg/files/shiretoko/firefoxIcon/firefox-32.png",
            "width":  32,
            "height": 32
          },
          "infowindow": "hello!"
        }
      ]);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(12);
    });
  </script>
</div>
