<div class="feature-box">

 <h2><%=@restaurant.name%></h2>
  <div class=""style='width: 500px;'>
    <div id="map" style='width: 500px; height: 350px;'></div>
  </div>


  <script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers([
        {
          "lat": <%= @restaurant.latitude %>,
          "lng": <%= @restaurant.longitude %>,
          "picture": {
            "url": "http://people.mozilla.com/~faaborg/files/shiretoko/firefoxIcon/firefox-32.png",
            "width":  32,
            "height": 32
          },
          "infowindow": "hello!"
        }
      ]);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(14);
    });
  </script>

</div>
